
#text {
    height: 400px;
    width: 100%;
    background-image: url("../../../assets/images/notepad.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    font-size: 1.3em;
}